h1 {
    text-align: center;
}
.container-jogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caractere { 
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.205);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2px;
    width: 40px;
    height: 45px;
    text-align: center;
}
.bnts {
    margin: 20px;
    border-radius: 2px;
}




